dist: xenial # required for Python >= 3.7
language: python
python:
 - "2.7"
 - "3.4"
 - "3.5"
 - "3.6"
 - "3.7"
install:
 - "sudo apt-get update -qq"
 - "sudo apt-get install -y libgmp-dev libmpfr-dev libmpc-dev"
 - "sudo pip install flake8"
 - "python setup.py install"
script:
 - "python setup.py test"
 - "flake8 --ignore=E741,W503,E704,W504"
